.backg-white() {
  background-color: @white-color;
}

.font-h1() {
  color: @black-color;
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.font-h2() {
  color: @black-color;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

.font-menu() {
  color: @black-color;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.font-bold17() {
  color: @black-color;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.visual() {
  border: 2px solid red;
}

.visual-b() {
  border: 2px solid blue;
}

.visual-g() {
  border: 2px solid green;
}

.visual-y() {
  border: 2px solid yellow;
}
