.btn {
  display: block;
  color: #444444;
  font-size: 17px;
  line-height: 16px;
  .font-bold();
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 0;
  border: 2px solid #444444;
  text-align: center;
  background-color: @white-color;

  &:hover {
    background-color: #444444;
    color: @white-color;
  }

  &:active {
    background-color: #444444;
    color: #7c7c7c;
  }
}

@media @tablet-widths {

    .btn {
      display: inline-block;
      padding: 16px 40px;
    }
}
