.catalog-list {
  /*opacity: 0.6;*/
  .container();
  .clearfix();
  /*.visual();*/
  /*margin-bottom: 30px;*//*необходимый*/
  margin-bottom: 26px; /*для поехавшего текста*/
  padding-top: 8px;
}

.catalog-list :last-child {
  margin-bottom: 0;
}

@media @tablet-widths {

  .catalog-list {
    min-height: 660px;
    margin-bottom: 52px;
  }

}

@media @desktop-widths {

  .catalog-list {
    display: flex;
    min-height: 660px;
    margin-bottom: 57px;
    font-size: 0;
  }

}
