.contacts {
  /*opacity: 0.6;*/
  .clearfix();
  /*.visual();*/
  margin-bottom: 40px;
}

.contacts__wrapper {
  .container();
}

.contacts-inf-wrapper {
  margin-bottom: 37px;
}

.contacts__title {
  padding: 34px 0 26px 0;
  color: @black-color;
  font-size: 18px;
  .font-bold();
  /*.visual-b();*/
}

.contacts__information {
  display: table;
  /*.visual-y();*/
}

.column {
  width: 77px;
}

.row {
  height: 60px;
}

.contacts__information ul {
  display: table-row;
}

.contacts__information li {
  display: table-cell;
}

.contacts__map {
  background: url("../img/map-mobile@1x.jpg") no-repeat;
  height: 457px;
  margin-bottom: 39px;
}

.contacts__btn {
  text-decoration: none;
  text-align: center;
}

@media @tablet-widths {

  .contacts {
    margin-bottom: 57px;
  }

  .contacts__title {
    position: relative;
    font-size: 43px;
    line-height: 50px;
    padding: 61px 0 49px 0;

    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 46px;
      right: 3px; 
      width: 47px;
      height: 82px;
      background: url("../img/icon-flag.svg");
    }

  }

  .contacts__information {
    font-size: 17px;
    .column {
      width: 73px;
    }
    .row {
      width: 329px;
    }

    .column2 {
      width: 72px;
    }
  }

  .contacts__map {
    background-size: cover;
    margin-bottom: 55px;
  }

  .contacts__information {
    display:  block;
  }

  .contacts__information li,
  .contacts__information ul {
    .inline-block();
  }

  .contacts-inf-wrapper {
    margin-bottom: 26px;
    min-height: 280px;
  }

}

@media @desktop-widths {

  .contacts {
    position: relative;
    .container-right();
    min-height: 457px;
    padding-top: 71px;
    margin-bottom: 105px;
  }

  .contacts__wrapper {
    float: left;
    width: 350px;
  }

  .contacts-inf-wrapper {
    margin-bottom: 79px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 70px;

    &:after {
      top: 61px;
      left: -111px; 
      width: 47px;
      height: 82px;
      background: url("../img/icon-flag.svg");
    }

  }

  .contacts__information {
    display: table;
    font-size: 17px;

    ul {
      display: table-row;
    }

    li {
      display: table-cell;
    }

    .column {
      width: 77px;
    }

  }

  .contacts__map {
    float: right;
    width: 525px;
    height: 457px;
    background-size: cover;
    margin-bottom: 0;
  }

  .contacts__btn {
    float: left;
  }

}
