.main-nav {
  position: relative;
  /*opacity: 0.6;*/
}

.main-nav__toggle {
  display: block;
  position: absolute;
  z-index: 2;
  border: none;
  font-size: 0;
  outline: 0;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  top: 32px;
  right: 31px;
  width: 20px;
  height: 14px;
  background: url("../img/icon-menu-open.svg") no-repeat;
}

.main-nav--opened .main-nav__toggle {
  top: 29px;
  right: 31px;
  width: 21px;
  height: 21px;
  background: url("../img/icon-menu-close.svg") no-repeat;
}

.main-nav__item {
  .font-bold17();
  padding: 27px 30px 27px 30px;
}

.main-nav__item a {
  padding-left: 45px;
  display: block;
  position: relative;
  text-decoration: none;
  color: @black-color;

  &:hover {
    color: @black-op60;
  }

  &:active {
    color: @black-op30;
  }

}

.main-nav__item-search,
.main-nav__item-cart {

  svg {
    position: absolute;
    opacity: 0.2;
    fill: #231F20;
  }

  &:hover {

    svg {
      fill: @blue-color;
      opacity: 1;
    }

  }

  &:active {

    svg {
      fill: @blue-color;
      opacity: 0.3;
    }

  }

}

.main-nav__item-search {

  svg {
    width: 18px;
    height: 18px;
    top: 4px;
    left: 2px;
  }

}

.main-nav__item-cart {

  svg {
    top: 3px;
    left: 0px;
  }

}


@media @mobile-widths-only {

  .main-nav__item {
    background-color: @white-color;
    padding: 27px 0;

    a {
      width: 215px;
      margin: 0 auto;
    }

  }

  .main-nav--opened .main-nav__items {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 79px;
  }

  .main-nav--opened .main-nav__user-items {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 237px;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__items,
  .main-nav--nojs .main-nav__user-items {
    position: static;
    height: auto;
  }

  .main-nav--nojs .main-nav__item,
  .main-nav--nojs .main-nav__user-items {
    display: block;
  }

  .main-nav__user-items {
    border-bottom: 1px solid #ececec;
  }

  .main-nav__item {
    border-top: 1px solid #ececec;
  }

  .main-nav__sale-items {
    display: none;
  }

  .main-nav__item-delivery {
    display: none;
  }

  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--closed .main-nav__user-items {
    display: none;
  }

}

@media @tablet-widths {

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .container();
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__user-items {
    font-size: 0;
  }

  .main-nav__items {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 79px;
    left: 0;
    font-size: 0;
  }

  .main-nav__item {
    padding: 27px 0 27px 0;
  }

  .main-nav__item a {
    padding-left: 0;
  }

  .main-nav__items .main-nav__item {
    font-size: 15px;
    margin-right: 36px;
  }

  .main-nav__item-delivery {
    position: absolute;
    z-index: 2;
    top: 79px;
    right: 0;
    font-size: 15px;
    font-family: "Open Sans";
  }

  .main-nav__user-items {
    display: flex;
  }

  .main-nav__user-items .main-nav__item {
    padding: 32px 0 32px 0;
    border-left: 1px solid #ececec;
    padding-left: 83px;
  }

  .main-nav__item-search {
    font-size: 0;

    svg {
      top: 4px;
      left: -50px;
    }

  }

  .main-nav__item-cart {

    svg {
      top: 3px;
      left: -52px;
    }

  }

  .main-nav__sale-items {
    display: none;
  }

}

@media @desktop-widths {

  .main-nav__items {
    position: relative;
    top: 0;
    order: -1;
  }

  .main-nav__items .main-nav__item {
    font-size: 17px;
    padding: 32px 0 32px 0;
  }

  .main-nav__items .main-nav__item:last-child {
    padding-left: 34px;
    margin-right: 0;
    border-left: 1px solid #ececec;
  }

  .main-nav__sale-items {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 79px;
    left: 0;
    z-index: 2;
    width: 315px;
  }

  .main-nav__sale-items .main-nav__item {
    font-size: 15px;
  }

}
