.main-nav {
  position: relative;
  width: 100%;
  opacity: 0.6;
  .visual-y();
}

.main-nav__menu-toggle {
  position: absolute;
  top: -32px;
  right: 0px;

}

.main-nav__btn {
  width: 20px;
  height: 14px;
  border: none;
  background: url("../img/icon-menu-open.svg") no-repeat;
}

.main-nav__wrapper {
  display: none;
}

.main-nav__items,
.main-nav__user-items {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav__item,
.main-nav__item--active {
  .font-bold17();
  padding: 26px 0 29px 0;
  a {
    text-decoration: none;
    color: @black-color;
  }
}

@media @tablet-widths {

  .main-nav__menu-toggle {
    display: none;
  }

  .main-nav__wrapper {
    display: block;
  }

  .main-nav__items {
    position: absolute;
    top: 80px;
    left: 0;
  }

  .main-nav__user-items {
    float: right;
    min-height: 80px;
    width: 350px;
  }

  .main-nav__item {
    .inline-block();
  }

}

@media @desktop-widths {

  .main-nav__items {
    position: relative;
    top: 0;
    float: left;
  }

}
