.order-form {
  /*pacity: 0.6;*/
  /*.visual();*/
  .clearfix();
  margin-bottom: 55px;
}

.order-form__description {
  .container();
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 25px;
}

.order-form__item {
  /*.visual-g();*/
  .container();
}


.order-form__precept {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
}

.order-form__btn-wrapper {
  .container();
}

.order-form__btn .btn {
  width: 100%;
}

@media @tablet-widths {

  .order-form {
    margin-bottom: 50px;
  }

  .order-form__description {
    margin-bottom: 59px;
  }

  .order-form__item {
    .container();
    .clearfix();
  }

  .order-form__btn-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .order-form__btn {
    width: 230px;
    .btn {
      padding: 16px 0;
    }
  }

  .order-form__precept {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0;
  }

}

@media @desktop-widths {

  .order-form__description,
  .order-form__btn-wrapper {
    .container-center-descktop();
  }

  .order-form__description {
    margin-bottom: 59px;
  }

}
