.order-item { 
  /*.visual();*/
  /*margin-bottom: 30px;*/
  border: none;
  border-top: 1px solid @blue-color;
}

.order-item__title {
  padding: 15px 0;
}

.order-item__control {
  padding: 15px 0;
}