.our-products {
  opacity: 0.6;
  .visual();
  background: url("../img/hero-mobile@1x.jpg") no-repeat center;
  background-position-y: -20px;
}

.our-products__header {
  .font-bold();
  min-height: 192px;
  padding-top: 70px;
  padding-bottom: 20px;
}

.our-products__btns--wrapper {
  .visual-b();
  font-size: 0;
}

.our-products__btns {
  text-decoration: none;
}

.our-products__btn {
  color: @white-color;
  font-size: 19px;
  line-height: 24px;
  .font-bold();
  padding: 25px 0px 30px 30px;
}

.our-products__btn--interior {
  background-color: #63d1bb;
}

.our-products__btn--toys {
  background-color: #56c3b2;
}

.our-products__title {
  .font-h1();
  text-align: center;
}

@media @tablet-widths {

  .our-products {
    min-height: 743px;
    background-size: cover;
    background-position-y: -20px;
    .container();
    .clearfix();
    margin-bottom: 30px;
  }

  .our-products__header {
    min-height: 536px;
  }

  .our-products__btns {
    .inline-block();
    /*min-height: 120px;*/
    width: 50%;
  }

  .our-products__btn {
    font-size: 20px;
    line-height: 30px;
    padding-top: 27px;
    padding-left: 35px;
  }

}

@media @desktop-widths {

  .our-products {
    margin-bottom: 70px;
  }

}
