.page-footer {
  opacity: 0.6;
  .clearfix();
  background-color: #f1f1f1;
  .visual();
}

.page-footer__wrapper {
  .container();
}

.page-footer__social {
  min-height: 80px;
  text-align: center;
  .visual-y();
}

.page-footer__copyright {
  min-height: 80px;
  text-align: center;
  .visual-b();
}

.copyright__link {
  text-decoration: none;
}

.copyright__text {
  color: @black-color;
  font-size: 19px;
  line-height: 18px;
  .font-bold();
}

@media @tablet-widths {
    
  .page-footer {
    min-height: 142px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    width: 86px;
    height: 35px;
    background: url("../img/logo-mobile.svg") no-repeat;
  }

}
