.page-footer {
  /*opacity: 0.6;*/
  background-color: #f1f1f1;
  // .visual();

}

.page-footer__wrapper {
  .container();
  .clearfix();
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 141px;
  min-height: 80px;
  padding-right: 5px;
  font-size: 0;
}

.social-link {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 27px;

  svg {
    fill: #231F20;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }

  &--inst {
    width: 22px;
    height: 22px;
  }

  &--fb {
    width: 14px;
    height: 32px;
  }

  &--tw {
    width: 24px;
    height: 22px;
  }

}

.page-footer__copyright {
  min-height: 79px;
  border-top: 1px solid #cecece;
  /*.visual-b();*/
}

.copyright__link {
  position: relative;
  text-decoration: none;
  color: @black-color;
  vertical-align: middle;
  font-size: 19px;
  line-height: 18px;
  .font-bold();

  &:hover svg{
    fill: #46c1ae;
  }

  &:active {
    p {
      opacity: 0.3;
    }

    svg {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }

  svg {
    position: absolute;
    top: 21px;
    left: 195px;
    width: 27px;
    height: 34px;
    fill: #46c1ae;
  }

  p {
    padding-top: 26px;
    padding-left: 38px;
  }
}

@media @tablet-widths {

  .page-footer {
    height: 142px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
    width: 86px;
    height: 35px;
    padding-bottom: 5px;
  }

  .page-footer__social {
    margin-left: 175px;
    padding-top: 34px;
    padding-bottom: 29px;
  }

  .page-footer__copyright {
    width: 183px;
    min-height: 40px;
    border-top: none;

    p {
      padding-top: 11px;
      padding-left: 0;
    }
  }

  .copyright__link {

    svg {
      top: 6px;
      left: 155px;
    }
  }
}

@media @desktop-widths {

  .page-footer__social {
    margin-left: 366px;
  }

}
