.page-title {
  color: red;
	opacity: 0.6;
  background-color: #f1f1f1;
  .visual-y();
  min-height: 175px;
  margin-bottom: 23px;
}

.page-title__name {
  opacity: 0.6;
  .font-h1();
  padding: 70px 0 75px 0;
}

@media @tablet-widths {

  .page-title {
    min-height: 222px;
    margin-bottom: 80px;
  }

}

@media @desktop-widths {

  .page-title {
    min-height: 250px;
    margin-bottom: 130px;
  }

}
