.product-week {
  /*opacity: 0.6;*/
  position: relative;
  .container();
  .clearfix();
  margin-bottom: 34px;
}

.product-week__header {
  padding-bottom: 18px;
}

.product-week__title {

  h2 {
    padding-top: 27px;
    .font-h2();
  }
}

.product-week__topic {
  color: @blue-color;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;
  .font-bold();
}

.product-week__description {
  line-height: 24px;
  margin-bottom: 17px;
}

.product-week__options {
  min-height: 120px;
  line-height: 20px;
  margin-bottom: 28px;
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid #ececec;
    height: 40px;
  }

  td:first-child {
    width: 95px;
  }
}

.product-week__photo {
  background-color: #f1f1f1;
  width: 260px;
  height: 315px;
}

.product-week__order {
  min-height: 125px;
  text-align: center;
}

.product-week__price {
  padding-top: 25px;
  font-size: 17px;
  line-height: 24px;
  .font-bold();
  margin-bottom: 25px;
}

@media @tablet-widths {

  .product-week {
    margin-bottom: 50px;
  }

  .product-week__header {
    .clearfix();
    padding-bottom: 19px;
    margin-bottom: 30px;
  }

  .product-week__title {
    float: left;
    width: 500px;

    h2 {
      padding-top: 17px;
      font-size: 43px;
      line-height: 50px;
    }
  }

  .product-week__topic {
    float: right;
    width: 125px;
    padding-top: 30px;
    text-align: center;
  }

  .product-week__wrapper {
    float: left;
    width: 289px;
  }

  .product-week__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .product-week__order {
    float: left;
    width: 292px;
  }

  .product-week__price {
    font-size: 20px;
    line-height: 24px;
    padding-top: 28px;
    margin-bottom: 35px;
    margin-left: 5px;
  }

  .product-week__photo {
    float: right;
    width: 333px;
    height: 404px;
    margin-top: 8px;
  }

  .product-week__btn {

    a {
      display: block;
      padding: 16px 0;
    }

  }

}

@media @desktop-widths {

  .product-week {
    position: relative;
    .container-right();
    min-height: 636px;
    margin-bottom: 72px;
  }

  .product-week__header {
    position: absolute;
    top: 36px;
    left: 20px;
    min-height: 0;
  }

  .product-week__title {
    float: right;
    width: 700px;

    h2 {
      font-size: 53px;
      line-height: 57px;
      margin-left: 26px;
    }

  }

  .product-week__topic {
    padding-top: 33px;
  }

  .product-week__description {
    margin-top: 158px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 48px;
  }

  .product-week__options {
    margin-bottom: 83px;
  }

  .product-week__price {
    padding-top: 26px;
    margin-left: 8px;
  }

  .product-week__photo {
    margin-top: 0;
    width: 525px;
    height: 636px;
  }

}
