.production-process {
  opacity: 0.6;
  .container();
  .visual();
  min-height: 502px;
  margin-bottom: 59px;
}

.production-process__title {
  .font-bold17();
  padding: 24px 0;
  margin: 0 30px;
  .visual-b();
}

.production-process__video {
  .visual-b();
  height: 150px;
}

.production-process__wrapper {
  margin: 0 34px;
  .visual-g();
}

.production-process__description {
  padding: 25px 0;
  font-size: 13px;
  line-height: 24px;
}

.production-process__btn {
  text-decoration: none;
  text-align: center;
}

@media @tablet-widths {

  .production-process {
    display: flex;
    flex-direction: column;
    min-height: 743px;
    margin-bottom: 65px;
  }

  .production-process__video {
    order: -1;
    min-height: 455px;
    width: 100%;
  }

  .production-process__wrapper,
  .production-process__title  {
    margin: 0 41px;
  }

  .production-process__btn {

    a {
       display: block;
    }

  }

  .production-process__description {
    margin-bottom: 22px;
  }

}

@media @desktop-widths {

  .production-process {
    display: block;

    min-height: 455px;
    margin-bottom: 105px;
  }

  .production-process__title,
  .production-process__wrapper {
    float: right;
    width: 230px;
    margin-right: 60px;
    
  }

  .production-process__video {
    float: left;
    width: 682px;
    height: 455px;
  }
 
}
