.production-process {
  /*opacity: 0.6;*/
  .container();
  .clearfix();
  margin-bottom: 58px;
}

.production-process__header {
  position: relative;
  border: 1px solid #ececec;
  border-bottom: none;
  svg {
    position: absolute;
    z-index: 1;
    top: 29px;
    left: 34px;
    fill: @blue-color;
  }
}

.production-process__title {
  .font-bold17();
  padding: 23px 29px 24px 89px;
}

.production-process__video {
  position: relative;
  background-color: #c7c5c6;
  width: 260px;
  height: 150px;
}

.production-process__play {
  position: absolute;
  width: 121px;
  height: 92px;
  top: 30px;
  left: 70px;
  background: url("../img/icon-play.svg") no-repeat 50% 50%;
  background-size: 101px 77px;

  &:hover {
    background-size: 121px 92px;
  }

  &:active {
    background-size: 81px 62px;
  }
}

.production-process__wrapper {
  padding: 0 33px 32px 33px;
  border: 1px solid #ececec;
  border-top: none;
}

.production-process__description {
  padding: 26px 1px 26px 0;
  font-size: 13px;
  line-height: 24px;
}

.production-process__btn {
  text-decoration: none;
  text-align: center;
}

@media @tablet-widths {

  .production-process {
    display: flex;
    flex-direction: column;
    min-height: 743px;
    margin-bottom: 63px;
  }

  .production-process__video {
    order: -1;
    min-height: 455px;
    width: 668px;
  }

  .production-process__play {
    top: 189px;
    left: 274px;
  }

  .production-process__header {

    svg {
      top: 35px;
      left: 42px;
    }
  }

  .production-process__title  {
    font-size: 20px;
    line-height: 24px;
    padding: 39px 40px 6px 106px;
  }

  .production-process__wrapper {
    padding: 0 40px 45px 40px;
  }

  .production-process__btn {

    a {
      display: block;
    }

  }

  .production-process__description {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 9px;
  }

}

@media @desktop-widths {

  .production-process {
    display: block;
    min-height: 455px;
    margin-bottom: 105px;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .production-process__wrapper {
    float: right;
    width: 231px;
    padding: 0px 57px 60px 78px;
  }

  .production-process__header {
    float: right;
    svg {
      top: 40px;
      left: 80px;
    }
  }

  .production-process__title  {
    width: 148px;
    padding: 93px 140px 7px 78px;
  }

  .production-process__video {
    float: left;
    width: 682px;
    height: 455px;
  }

  .production-process__play {
    top: 181px;
    left: 289px;
  }

  .production-process__description {
    margin-bottom: 21px;
  }

}
