.product-item {
  .visual-g();
  margin-bottom: 30px;
}

.product-item__photo {
  .visual-b();
  height: 195px;
}

.product-item__title {
  .font-bold17();
  text-decoration: none;
  margin-bottom: 10px;
}

.product-item__inf {
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0 20px;
  .visual-b();
}

.product-item__parameters {
  font-size: 13px;
}

.product-item__buy {
  margin: 0 20px;
  padding: 25px 0 30px 0;
  .visual-b();
}

.product-item__price {
  color: @black-color;
  line-height: 24px;
  font-weight: 700;
}