.product-week {
  .visual();
  margin-bottom: 30px;
}

.product-week__header {
  padding: 30px 0;
  .visual-b();
}

.product-week__title {
  .font-h2();
}

.product-week__topic {
  color: @blue-color;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;
}

.product-week__description {
  line-height: 24px;
  margin-bottom: 30px;
  .visual-b();
}

.product-week__options {
  line-height: 20px;
  margin-bottom: 30px;
  .visual-b();
}

.product-week__photo {
  height: 315px;
  .visual-b();
}

.product-week__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.product-week__order {
  padding: 30px 0 0 0;
  text-align: center;
  .visual-b();
}

.product-week__btn {
  text-decoration: none;
}