.reviews {
  .visual();
  margin-bottom: 30px;
}

.reviews__title {
  .font-h2();
  padding: 30px 0;
  .visual-b();
}

.reviews__item {
  .visual-b();
  margin-bottom: 30px;
}

.reviews__comment {
  margin-bottom: 30px;
}

.reviews__author-name {
  color: @black-color;
  font-size: 18px;
  font-weight: 700;
}

.reviews__author-mail {
  font-size: 18px;
}

.reviews__btns {
  margin-bottom: 30px;
}

.reviews__btn {
  text-align: center;
  text-decoration: none;
}