.reviews {
  position: relative;
  /*opacity: 0.6;*/
  min-height: 610px;
  padding-bottom: 52px;

  &:after {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 7px;
    background: url("../img/bg-zigzag-line.svg");
    background-size: auto 7px;
    background-repeat: repeat-x;
  }

}

.reviews__wrapper {
  position: relative;
  .container();
  .clearfix();
}

.reviews__title {
  h2 {
    .font-h2();
    padding: 30px 0 24px 0;
  }
}

.reviews__item {
  margin-bottom: 27px;
}

.reviews__comment {
  margin-bottom: 25px;
}

.reviews__author-name {
  color: @black-color;
  font-size: 18px;
  .font-bold();
}

.reviews__author-mail {
  font-size: 18px;
}

.reviews__btns {
  margin-bottom: 39px;
  font-size: 0;
}

.reviews__btn-slider {
  .inline-block();
    height: 52px;
    background-color: @white-color;
    border: 1px solid #ececec;
    width: 50%;
    padding: 0;
    outline: 0;
    cursor: pointer;

  &:before {
    content: "";
    display: block;
    height: 26px;
    width: 50px;
    margin-left: 37px;
  }

  &:hover {

    &:before {
      opacity: 0.6;
    }
  }

  &:active {

    &:before {
      opacity: 0.3;
    }
  }


  &--preview {
    &:before {
      background: url("../img/icon-left-arrow.svg") no-repeat 50% 50%;
    }

  }

  &--next {
    &:before {
      background: url("../img/icon-right-arrow.svg") no-repeat 50% 50%;
    }
  }

}

@media @tablet-widths {

  .reviews {
    min-height: 457px;
    padding-bottom: 84px;
    background:  url("../img/review@1x.jpg") no-repeat 0 0;

    @media  (min-resolution: 144dpi),
            (min-resolution: 1.5dppx) {
    background-image: url("../img/review@2x.jpg 2x");
    background-size: 350px 457px;
  }

    &:after {
      height: 17px;
      background-size: auto 17px;
    }

  }

  .reviews__wrapper {
    position: relative;
  }

  .reviews__title {
    width: 450px;

    h2 {
      font-size: 43px;
      line-height: 50px;
      padding: 77px 0 49px 0;
    }
  }

  .reviews__comment {
    font-size: 17px;
    margin-bottom: 54px;
  }

  .reviews__item {
    float: left;
    width: 334px;
  }

  .reviews__btns {
    float: right;
    width: 175px;
  }

  .reviews__btn-slider {
    margin-top: 6px;
    border: none;

    &:before {
    margin-left: 19px;
    }
  }

  .reviews__btn {
    position: absolute;
    top: 79px;
    right: 0px;

    .btn {
      padding: 16px 36px 16px 40px;
    }
  }
}

@media @desktop-widths {

  .reviews {
    background: @white-color;
    padding-bottom: 90px;

    &:after {
      height: 24px;
      background-size: auto 24px;
    }

  }

  .reviews__wrapper {
    .container-right();
    background:  url("../img/review@1x.jpg") no-repeat 0 0;

    @media  (min-resolution: 144dpi),
            (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg 2x");
      background-size: 350px 457px;
    }
  }

  .reviews__title {
    width: 650px;

    h2 {
      font-size: 53px;
      line-height: 57px;
      padding: 70px 0 49px 0;
    }
  }

  .reviews__comment {
    padding-right: 105px;
    margin-bottom: 36px;
  }

}
